<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzl.demo.dao.mapper.ProductDetailMapper">

    <resultMap type="com.zzl.demo.dao.entity.ProductDetailPO" id="ProductDetailMapper">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pcDetail" column="pc_detail" jdbcType="VARCHAR"/>
        <result property="h5Detail" column="h5_detail" jdbcType="VARCHAR"/>
        <result property="afterSaleDetail" column="after_sale_detail" jdbcType="VARCHAR"/>
        <result property="deleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="INTEGER"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="AllColumn">id
    , pc_detail, h5_detail, after_sale_detail, is_deleted, gmt_create, gmt_modified</sql>

    <!--==========系统生成方法——开始==========-->
    <!--查询单个-->
    <select id="getById" resultMap="ProductDetailMapper">
        SELECT
        <include refid="AllColumn"/>
        FROM product_detail
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <!--获取指定Limit的数据lists-->
    <select id="listByLimit" resultMap="ProductDetailMapper">
        SELECT
        <include refid="AllColumn"/>
        FROM product_detail
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="pcDetail != null and pcDetail != ''">
                AND `pc_detail` = #{pcDetail}
            </if>
            <if test="h5Detail != null and h5Detail != ''">
                AND `h5_detail` = #{h5Detail}
            </if>
            <if test="afterSaleDetail != null and afterSaleDetail != ''">
                AND `after_sale_detail` = #{afterSaleDetail}
            </if>
            <if test="deleted != null">
                AND `is_deleted` = #{deleted}
            </if>
            <if test="gmtCreate != null">
                AND `gmt_create` = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                AND `gmt_modified` = #{gmtModified}
            </if>
        </where>
        LIMIT #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询lists-->
    <select id="listByAll" resultMap="ProductDetailMapper">
        SELECT
        <include refid="AllColumn"/>
        FROM product_detail
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="pcDetail != null and pcDetail != ''">
                AND `pc_detail` = #{pcDetail}
            </if>
            <if test="h5Detail != null and h5Detail != ''">
                AND `h5_detail` = #{h5Detail}
            </if>
            <if test="afterSaleDetail != null and afterSaleDetail != ''">
                AND `after_sale_detail` = #{afterSaleDetail}
            </if>
            <if test="deleted != null">
                AND `is_deleted` = #{deleted}
            </if>
            <if test="gmtCreate != null">
                AND `gmt_create` = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                AND `gmt_modified` = #{gmtModified}
            </if>
        </where>
    </select>

    <!--插入一条记录-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO product_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="pcDetail != null">
                `pc_detail`,
            </if>
            <if test="h5Detail != null">
                `h5_detail`,
            </if>
            <if test="afterSaleDetail != null">
                `after_sale_detail`,
            </if>
            <if test="deleted != null">
                `is_deleted`,
            </if>
            `gmt_create`,
            `gmt_modified`,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="pcDetail != null">
                #{pcDetail},
            </if>
            <if test="h5Detail != null">
                #{h5Detail},
            </if>
            <if test="afterSaleDetail != null">
                #{afterSaleDetail},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            #{gmtCreate},
            #{gmtModified},
        </trim>
    </insert>

    <!--通过主键修改数据，禁止非主键更新-->
    <update id="updateById">
        UPDATE product_detail
        <set>
            <if test="pcDetail != null">
                `pc_detail` = #{pcDetail},
            </if>
            <if test="h5Detail != null">
                `h5_detail` = #{h5Detail},
            </if>
            <if test="afterSaleDetail != null">
                `after_sale_detail` = #{afterSaleDetail},
            </if>
            <if test="deleted != null">
                `is_deleted` = #{deleted},
            </if>
            <if test="gmtCreate != null">
                `gmt_create` = #{gmtCreate},
            </if>
            `gmt_modified` = #{gmtModified},
        </set>
        WHERE `id` = #{id}
    </update>

    <!--通过主键软删除-->
    <update id="deleteById">
        UPDATE product_detail
        SET is_deleted   = 1,
            gmt_modified = UNIX_TIMESTAMP()
        WHERE id = #{id}
    </update>

    <!--通过主键硬删除-->
    <delete id="forceDeleteById">
        DELETE
        FROM product_detail
        WHERE id = #{id}
    </delete>

    <!--==========系统生成公共方法——结束==========-->

</mapper>